<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animalandia</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="icon" href="../assets/img/favicon.png">
    <script src="https://kit.fontawesome.com/74a1aab293.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>


</head>

<body>
    <div class="container-fluid overflow-hidden" >
        <div class="row justify-content-around align-items-center">
        <header class="row justify-content-around align-items-center" >
            <div class="logo col-12 col-md-3 col-xl-3 mt-2 mb-2">
                <img src="../assets/img/logo.jpg" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 col-xl-6"></div>
            <div class="col-12 col-md-3 col-xl-3" row justify-content-around align-items-center>
                <a href="/views/login.html"><button type="button" class="btn btn-primary btn-sm" ><i class="bi bi-power"></i>Ingresar</button></a>
                <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-person-plus-fill"></i>Registrarse</button>
            </div>
        </header>
        </div>
        <div >    <!-- As a link -->
            <nav class="navbar navbar-expand-lg navbar-dark #752995" col-md>
                <div >
                    <a class="navbar-brand ms-2" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/views/equipo.html">Equipo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/views/servicios.html">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/views/agendatucita.html">Agenda tu cita</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/views/tips.html">Tips</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/views/contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    <main id="contactos">
        <div class="mapa">
            <section class="form-contacto">
                <div class="form2">
                    <h2>¡Contactanos!</h2>
                    <form action="#" nombre="formulario" method="get" novalidate="novalidate" class="form1">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre">
                        <label for="email">Correo Electronico</label>
                        <input type="email" name="email" id="email" placeholder="Ingresa tu correo">
                        <label for="asunto">Asunto</label>
                        <input type="asunto" name="asunto" id="asunto" placeholder="Asunto">
                        <label for="observacion">Mensaje</label>
                        <textarea rows="10" cols="50" name="observaciones"
                            placeholder="En que podemos ayudarte"></textarea>
                        <button name="enviar" id="Envia"><img src="../assets/img/bxs-send 1.svg"
                                class="boton">Enviar</button>
                    </form>
                </div>
            </section>
            <section id="contacto">
                <div class="contacto">
                    <h2>Sedes</h2>
                    <article class="sedes">
                        <div class="logosedes"><img src="../assets/img/icono sede.svg">Sede Kennedy</div>
                        <div class="logosedes"><img src="../assets/img/icono sede.svg">Sede Rosales</div>
                        <div class="logosedes"><img src="../assets/img/icono sede.svg">Sede Suba</div>
                        <div class="logosedes"><img src="../assets/img/icono sede.svg">Sede Chía</div>
                        <div class="logosedes"><img src="../assets/img/icono sede.svg">Sede Fontibón</div>
                    </article>
                </div>
                <article>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8520885023604!2d-74.15859378551427!3d4.620464596643454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9e9a8753891f%3A0x15216e46e9718c38!2sANIMALVETER!5e0!3m2!1ses-419!2sco!4v1646705869269!5m2!1ses-419!2sco"
                        width="480" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </article>
            </section>
        </div>
        <section class="redes">
            <div class="social"><img src="../assets/img/icono facebook.svg"> Clinica Veterinaria Anim</div>
            <div class="social"><img src="../assets/img/icono telefono.svg"> +57 601 751 1125</div>
            <div class="social"><img src="../assets/img/icono instagram.svg"> Clinica Veterinaria Anim</div>
            <div class="social"><img src="../assets/img/icono email.svg">contactanos@vetanim</div>
            <div class="social"><img src="../assets/img/icono rwitter.svg">@Clinica Veterinaria Anim</div>
            <div class="social"> <img src="../assets/img/icono youtube.svg">Clinica Veterinaria Anim</div>

        </section>
    </main>
    <footer class="footer" >
        <div class="box-footer row ">
            <div class="foot col-12 col-md-4 text-center">
                <img src="../assets/img/bx-building 1.svg" alt="Icono building">
                <h3>Sedes</h3>
                <p class="text-center">
                    Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                </p>
            </div>
            <div class="foot col-12 col-md-4 text-center">
                <img src="../assets/img/bx-building 1.svg" alt="Icono building">
                <h3>Sedes</h3>
                <p class="text-center" >
                    Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                </p>
            </div>
            <div class="foot col-12 col-md-4 text-center">
                <img src="../assets/img/bx-building 1.svg" alt="Icono building">
                <h3>Sedes</h3>
                <p class="text-center">
                    Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                </p>
            </div>
        </div>
    </footer>
</div>
    <script src="../assets/js/bootstrap.js"></script>
</body>

</html>