<!DOCTYPE html>
<html lang="es-Es">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="icon" href="../assets/img/favicon.png">
    <script src="https://kit.fontawesome.com/74a1aab293.js" crossorigin="anonymous"></script>
    <title>Inicio de Sesion</title>
</head>

<body>
    <header>
        <div>
            <img src="../assets/img/logo.jpg">
        </div>
        <div class="sesion">
            <img src="../assets/img/golden.jpg">
            <span>
                <strong>Bienvenido</strong><br>Usuario
                <i class="fa-solid fa-right-from-bracket"></i>
            </span>
        </div>
    </header>
    <section id="dashboard">
        <article class="menu1">
            <ul>
                <li class="item1"><i class="fa-solid fa-user"></i>Usuarios</li>
                <li class="item1"><i class="fa-solid fa-users"></i>Clientes</li>
                <li class="item1"><i class="fa-solid fa-tag"></i>Productos</li>
                <li class="item1"><i class="fa-solid fa-cart-shopping"></i>Pedidos</li>
                <li class="item1"><i class="fa-solid fa-chart-line-up"></i>Reportes</li>
            </ul>
        </article>
        <article class="contenido">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptatibus est iste saepe quasi
                amet voluptate, reiciendis error reprehenderit, totam deleniti incidunt harum illo, officiis quod ad
                nihil ratione accusamus?</p>

        </article>
    </section>
</body>

</html>