<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animalandia</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="icon" href="../assets/img/favicon.png">
    <script src="https://kit.fontawesome.com/74a1aab293.js" crossorigin="anonymous"></script>

</head>

<body>

    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="logo animalandia">
        </div>
        <div class="botones">
            <a href="login.html"><button class="b-azul"><i class="fa-solid fa-power-off icono"></i>Ingresar</button></a>
            <button class="b-morado"><i class="fa-solid fa-user-plus icono"></i>Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="agendatucita.html" class="item">Agenda tu cita</a>
        <a href="tips.html" class="item">Tips</a>
        <a href="contacto.html" class="item">Contacto</a>
    </nav>
    <main>
        <div class="banner">
            <section>
                <img src="../assets/img/banner_equipo.svg">
            </section>
        </div>
        <h1 class="tsection">Nuestro Equipo</h1>
        <section id="servicios">
            <article class="veterinario">
                <img src="../assets/img/medico1.jpg" alt="veterinario">
                <h3>Mario Perez</h3>
                <h4>Especialista en Aves</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi odit.</p>
            </article>
            <article class="veterinario">
                <img src="../assets/img/medico1.jpg" alt="veterinario">
                <h3>Mario Perez</h3>
                <h4>Especialista en Aves</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi odit.</p>
            </article>
            <article class="veterinario">
                <img src="../assets/img/medico1.jpg" alt="veterinario">
                <h3>Mario Perez</h3>
                <h4>Especialista en Aves</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi odit.</p>
            </article>
            <article class="veterinario">
                <img src="../assets/img/medico1.jpg" alt="veterinario">
                <h3>Mario Perez</h3>
                <h4>Especialista en Aves</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi odit.</p>
            </article>

        </section>
    </main>



    <footer class="footer">
        <div class="box-footer">
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="Icono building">
                <h3>Sedes</h3>
                <p>
                    Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                </p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="Icono building">
                <h3>Sedes</h3>
                <p>
                    Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                </p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="Icono building">
                <h3>Sedes</h3>
                <p>
                    Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                </p>
            </div>
        </div>
    </footer>
</body>

</html>