@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{box-sizing: border-box; /*Nos ayuda a trabajar con todas las propiedades del modelo de caja de manera ágil
                            evitar desbordamientos en la caja*/
}
:root{
    --dark-color:#191919;
	--white-color:#FFFFFF;
	--purple-color:rgb(117,41,149);
	--blue-color:#00B2B1;
	--gray-color:#828282;
	--ligh-color:#F3F3F3;
}
header{
    align-items:center;
    padding: 10px; 
}
.container-fluid{
  width: 100%;
  padding:0;
  margin-right:0;
  margin-left:0;
}
.logo img{
    max-width: 280px;
    width: 100%;
}
.bi-power {
    padding-right: 2px;
}
.bi-person-plus-fill, .bi-calendar-plus{
    padding-right: 3px;
}
.btn-primary {
    color: var(--dark-color);
    background-color: var(--blue-color);
    font-weight: 500;
    border: 2px solid var(--blue-color);
  }
.btn-primary:hover {
    color: var(--dark-color);
    border-color: var(--blue-color);
  }
  .btn-outline-primary {
    color: var(--purple-color);
    border-color: var(--purple-color);
    border: 2px solid var(--purple-color);
  }
  .btn-outline-primary:hover {
    background-color: var(--purple-color);
    border-color: var(--purple-color);
  }
.navbar-toggler {
    background-color: var(--purple-color);
  }
.nav-link{
    margin-left: 0.5rem;
}
nav{
    background-color: var(--purple-color);
}
.cita{
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
    padding: 2rem;
    max-width: 100%;
}
.cita h1{
    color: var(--dark-color);
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}
.cita h3{
    color: var(--dark-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600px;
}
.cita p{
    text-align: start;
}
.promocion{
    background-color: var(--purple-color);
    text-align: center;
    padding: 2rem;
}   
.promocion h1{
    color: var(--white-color);
    font-size: 28px;
    text-shadow: 2px 2px 2px var(--dark-color);  
}
.promocion img{
    border: 7px solid var(--white-color);
    max-width: 300px;
    width: 50%;
}
.tsection {
    text-shadow: 1px 1px 2px var(--gray-color);
}
.card{
    text-align: center;
    margin: 0;
    border: none;
}
.card-img-top{
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem ;
  }
.card-text{
    padding:0 1rem;
}
.footer{
    background-image: url(../img/fondo.jpg);
    margin-top: 0px;
    color: var(--white-color);
}
.box-footer{
    background-color: rgba(117,41,149, 0.5);
    align-items: center;
    padding: 2rem;
}
.tsection{
    font-size: 40px;
    color: var(--purple-color);
    font-weight: bold;
}
.banner img{
    width: 100%;
    max-width: 100%;
}
/*estilos login*/
body{
   font-family: 'Roboto', sans-serif;
   color: var(--dark-color);
}

p{
   text-align: justify;
}
.volver{
    margin: 2rem 5rem;
}
#login{
   height: 100%;
}
.form-login h1{
text-align: center;
}
.form-login i{
   color: var(--purple-color);
   background-color: var(--white-color);
   padding: 0.5rem 0.8rem;
   border-radius: 100%;
   border: 4px solid var(--gray-color);
}
.form-login{
   width: 80%;
   box-shadow: 1px 1px 2px var(--dark-color);
   background-color: var(--ligh-color);
   border-radius: 5px;
   padding: 40px;
}
.form-group{
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}

.form-label{
   font-weight: bold;

}
.form-input{
   border: 3px solid var(--gray-color);
   padding: 0.5rem;
   outline: none;
}

.form-input::placeholder{
   font-size: 0.8rem;
}

.btn-azul, .btn-morado{
   padding: 0.5rem;
   font-weight: 500;
   border: none;
   cursor: pointer;
}

.btn-azul{
   background-color: var(--blue-color);
}

.btn-morado{
   background-color: var(--purple-color);
}

.form-olvido{
   text-align: center;
   color: var(--blue-color);
   font-size: 0.9rem;
}

/*tips*/
.card-body{
    width: 100%;
    height: 100%;
}
.tipsperros {
    background-image: url(../img/dog.png);
    background-size: 100% 100%; 
    border-radius: 10%;
    margin-bottom: 3rem;
    width: 90%;
    margin: 3rem auto 3rem;
}
.tipsperros:hover {
    background: url(../img/fondos-de-dos-colores.jpg);
    transition-property: background-color;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 2s;
}
.tipsperros p{
    visibility: hidden;
}
.tipsperros:hover p{
    visibility: visible;
}
.tipsperros h2{
    visibility: hidden;
}
.tipsperros:hover h2{
    visibility: visible;
}
.tipsperros img{
    visibility: hidden;
}
.tipsperros:hover img{
    visibility: visible;
}
.tipsperros h2{
    color: var(--white-color);
    text-shadow: 2px 2px 2px var(--gray-color);
}
.tipsgatos {
    background-image: url(../img/cat.png);
    height: 100%;
    background-size: 100% 100%;
    border-radius: 10%;
    margin-bottom: 3rem;
    width: 90%;
    margin: 3rem auto 3rem;
}
.tipsgatos:hover {
    background: url(../img/fondos-de-dos-colores.jpg);
    transition-property: background-color;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 2s;
}
.tipsgatos h2{
    color: var(--white-color);
    text-shadow: 2px 2px 2px var(--gray-color);
}
.tipsgatos p{
    visibility: hidden;
}
.tipsgatos:hover p{
    visibility: visible;
}
.tipsgatos h2{
    visibility: hidden;
}
.tipsgatos:hover h2{
    visibility: visible;
}
.tipsgatos img{
    visibility: hidden;
}
.tipsgatos:hover img{
    visibility: visible;
}

/*contacto*/

.form2{
    background-color:rgba(243, 243, 243, 0.5);
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;

}
.form-contacto{
    background-image: url(../img/fondoform.jpg);
    display: flex;
    flex-direction:column;
    max-width: 500px;
    width: 100%;
    height: 600px;
    border-radius: 20px;    
    margin: 70px 30px;
}
.form2 h2{
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px var(--gray-color);
}
.form1{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}
.form1 label{
    font-weight: bold;
    color: var(--purple-color);
    
}
.form1 input{
    border-radius: 15px;
    padding: 2px 5px;
    width: 420px;
    height: 35px;
    outline: none;
    border: none;
    margin: 8px auto;
}
.form1 textarea{
    border-radius: 15px;
    padding: 5px 5px;
    margin-bottom: 6px;
    width: 420px;
    outline: none;
    border: none;
    margin-top: 6px;
}
.form1 button {
    border-radius: 8px;
    padding: 5px 5px;
    margin:10px auto;
    max-width:120px;
    width: 100%;
    color: var(--purple-color);
    border: none;
    font-weight: bold;
    border: 0.8px solid var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    margin: 2px 8px;
}
.sedes{
    font-size: 16px;
    font-weight: bold;
}
.sedes img{
    width: 50px;
    padding: 5px;
    margin: 5px;
    color: var(--blue-color);
}
.logosedes{
    display: flex;
    align-items: center;
}
.contacto{
    text-align: center;
}
.contacto h2{
    font-size: 30px;
}
#contacto iframe{
    margin: 3rem auto;
}
.redes{
    width: 100%;
    margin: auto;
}
.social{
    margin: 1rem auto;
}
.social img{
    width: 46px;
}
/*estilos dashboard*/

.sesion{
    text-align: right;
    color: var(--purple-color);
}
.sesion img{
    max-width: 60px;
    width: 100%;    
    border-radius: 50%;
    border: 3px solid var(--purple-color);
}
.bi-box-arrow-in-right{
    color: var(--purple-color);
}
#dashboard{
    display: flex;
}
.menu1{
    flex-basis: 20%;
    background-color: var(--dark-color);
    height: 100VH;
}
.menu1 ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;  
    color: var(--white-color);
}
.menu1 a{
        color: var(--light-color);
        text-decoration: none;
        padding: 1rem;
        display: block;
        font-family: 'Roboto', sans-serif;
}
.menu1 a:hover{
    background-color: var(--purple-color);
    border: 3px solid var(--white-color);
    padding-left: 40px;
    transition: all 2s;
    color: var(--dark-color);
}
.menu1 i{
    margin: 3px;
}
.contenido{
    flex-basis:80%;
    background-color: var(--ligh-color);
    padding: 30px;
}
/*estilo productos pag principal*/
.tabla-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabla-intro img{
    max-width: 100px;
    border-radius: 50%;
    border: 2px solid var(--ligh-color);
}
.tabla-intro h1{
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
}
.tabla-intro a{
    border-radius: 5%;
}
.frm-busqueda {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.frm-busqueda input[type="text"]{
    flex-basis: 80%;
    padding: 10px;
    border: 3px solid var(--dark-color);
}
.frm-busqueda button{
    flex-basis: 20%;
    margin-left: 20px;
    border-radius: 5px;
}
table{
    width: 100%;
    border: 2px solid var(--dark-color);
    border-collapse: collapse;
}
table th{
    border: 2px solid var(--dark-color);
    background-color: var(--purple-color);
    color: var(--white-color);
    padding: 7px 0;
}
table td{
    border: 2px solid var(--dark-color);
    text-align: center;
}
/*productoadd*/
.form-producto{
    max-width: 800px;
    margin: 0 auto;
    font-family:'Roboto', sans-serif;
}
.form-producto label{
    color: var(--dark-color);
}
.form-producto select{
    color: var(--dark-color);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}
.form-producto input[type="submit"]{
    font-family: 'Roboto', sans-serif;
    font-weight:bold ;
    font-size: 1rem;
    border-radius: 5px;
    
}
